@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
    font-family: FontsFree-Net-Herbarium;
    src: url("../Fonts/FontsFree-Net-Herbarium.ttf") format("truetype");
}


html, body{
    overflow-x: clip !important;
    max-width: 100% !important;
}

#nav_element_1, #nav_element_2,#nav_element_3, #nav_element_4, #nav_element_5, #nav_element_6{
    font-family: Manrope, Arial, Helvetica, sans-serif !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    text-decoration: none !important;
    text-shadow: none !important;
    color: white;
}

#navbar_image{
    background: rgba(255,255,255,1) ;
    border-radius: 0 0 7px 7px;
    box-shadow: 2px 2px 20px 2px rgba(0,0,0,40%);
}

.banner_bottom_overlay{
    margin-top: 35vh;
}

.banner_container{
    background-image: url("../Images/image_0011_b_s35_l.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height:100vh;
    min-width:100%;

}

.dropdown:hover .dropdown-menu {
    display:block !important;
    border-radius: 0 !important;
    border: none !important;
}

#contact_button{
    padding: 15px 40px 15px 40px !important;
    background-color: rgba(0,0,0,0%);
    border-radius: 3px !important;
    border: rgba(255,215,0,100%) 2px solid !important;



    font-family: Manrope, Arial, Helvetica, sans-serif !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    color: white !important;
}

#contact_button:hover{
    background-color: rgb(204, 173, 1) !important;
}

.banner_text{
    font-family: Manrope, sans-serif;
    font-weight: 700 !important;
    font-size: 5rem !important;
    color: white !important;
    padding-top: 25vh !important;
    width: 65%;
    text-wrap: nowrap !important;
}

.banner_stats{
    z-index: 1;
    position: absolute !important;
    margin-top: 30vh !important;
    margin-left: 0 !important;
    padding: 25px !important;
    width: 38% !important;
    border-radius: 0 7px 0 !important;
}

.banner_stats_1 h3, .banner_stats_2 h3, .banner_stats_3 h3{
    padding: 0 30px !important;
    font-family: Manrope, sans-serif;
    font-weight: 700 !important;
    font-size: clamp(0.5rem, 10vw, 1rem) !important;
}

.banner_stats_3{
    border-left: dimgrey 3px solid ;
    padding-right: 20px !important;
}

.banner_stats_1{
    border-right: dimgrey 3px solid ;
}

.about_us_section{
    padding-top: 9rem !important;
}

.about_us_section h2{
    font-family: Manrope, sans-serif !important;
    font-size: clamp(2rem, 10vw, 3rem);  !important;
    text-align: center !important;
    font-weight: 700 !important;
}

.about_us_section p{
    font-family: Manrope,Karla, sans-serif !important;
    font-size: clamp(0.5rem, 10vw, 1.5rem);  !important;
    text-align: center !important;
    font-weight: 500 !important;
}

.regular_button{
    padding: 10px 35px 10px 35px !important;
    background-color: rgba(0,0,0,0%) !important;
    border-radius: 5px !important;
    border: rgba(255,215,0,100%) 2px solid !important;

    font-family: Manrope, Arial, Helvetica, sans-serif !important;
    font-weight: 500 !important;
    font-size: clamp(0.5rem, 10vw, 1.5rem) !important;
    color: white !important;
    background-color: rgb(204, 173, 1) !important;
}

.live_stock_banner h1{
    color: rgb(204, 173, 1) !important;
    font-family: FontsFree-Net-Herbarium, sans-serif;
    font-size: clamp(3rem, 10vw, 5rem) !important;
}

/*.about_us_text{*/
/*    background-image: url("../Images/image_0013.png") !important;*/
/*    background-repeat: no-repeat !important;*/
/*    */
/*}*/

/*.wave-container {*/
/*    height: 15vh;*/
/*    background-color: #212529;*/
/*    position: relative;*/
/*}*/

/*.wave-container::before {*/
/*    content: "";*/
/*    width: 100%;*/
/*    height: 94px;*/
/*    position: absolute;*/
/*    bottom: -0.3%;*/
/*    left: 0;*/
/*    background-size: auto;*/
/*    background-repeat: repeat no-repeat;*/
/*    background-position: 25vw bottom;*/
/*    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='red' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%23FFF'/></svg>");*/
/*}*/

/*@media(max-width:850px) {*/
/*    .wave-container::before {*/
/*        height: 20px*/
/*    }*/
/*}*/

.product_section{
    --s: 90px;  /* control the size of the grid */
    --n: 4;     /* control the granularity */
    --t: 4px;   /* the thickness */
    --g: 10px;  /* the gap between dashes */

    --c:rgba(255,255,255,0.015) 25%,#0000 0% ;
    background:
            conic-gradient(at var(--g) var(--t),var(--c))
            calc((var(--s)/var(--n) - var(--g) + var(--t))/2) 0/
     calc(var(--s)/var(--n)) var(--s),
            conic-gradient(from 180deg at var(--t) var(--g),var(--c))
            0 calc((var(--s)/var(--n) - var(--g) + var(--t))/2)/
     var(--s) calc(var(--s)/var(--n));
    /* you probably don't need to set any size in your case */
    /*width: calc(round(down,100%,var(--s)) + var(--t));*/
    height: auto;
    width: 100%;
    padding-bottom: 200px !important;
    padding-top: 10rem !important;

}

.section_3{
    transform:rotate(-4deg);
    min-width:100%;
    margin-top: -180px;
    margin-left: -10px;
    z-index: 2;
    background-color:white;
}

.content_container{
    transform:rotate(4deg) !important;
    margin-left: 5px !important;
    /*padding-right: 10px !important;*/
    /*background-color:white !important;*/
    width: 100% !important;
}

.section_3_row_1 h2, .section_3_row_2 h2, .section_3_row_3 h2, .section_3_row_4 h2{
    font-family: Manrope, sans-serif;
    font-weight: 700 !important;
    font-size: 3rem !important;
    color: black !important;

    text-wrap: nowrap !important;
}

.row_2_options_container{
    border: solid 5px black !important;
    max-height:45rem !important;
    min-width:15rem !important;
    max-width: 20rem !important;
    border-radius: 15px;
    padding: 15px 10px 10px 10px;
    /*text-align: center !important;*/
}

.row_4_options_container{
    border: solid 8px black !important;
    height:16rem !important;
    width:13rem !important;
    /*text-align: center !important;*/
}

.section_3_rows_2_button{
    padding: 5px 20px 5px 20px !important;
    background-color: rgba(0,0,0,0%) !important;
    border-radius: 5px !important;
    border: rgba(255,215,0,100%) 2px solid !important;

    font-family: Manrope, Arial, Helvetica, sans-serif !important;
    font-weight: 500 !important;
    font-size: clamp(0.2rem, 4vw, 1rem) !important;
    color: white !important;
    background-color: rgb(204, 173, 1) !important;
}

